body {
    background-image: url("Pic1.jfif");
    
}

.navbar {
    position: absolute;
    bottom: 2vh; /* Adjusts the navbar's position from the bottom */
    left: 50%; /* Positions the navbar in the middle of the screen */
    transform: translateX(-50%); /* Centers the navbar horizontally */
    background-color: rgb(0, 0, 0, 0); /* blank background */
    padding: 10px 40px; /* Adjust padding to fit the content */
    border-radius: 10px; /* Rounded corners for a floating effect */
}

.navbar ul {
    text-align: center;
    list-style-type: none; /* Removes bullet points from list */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}

.navbar ul li {
    display: inline-block;
    margin: 0 30px;
}

.navbar ul li a {
    text-decoration: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: monospace;
}

.mypfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;
}

.mypfp:hover { 
    box-shadow: 0 0 50px #ffffff; 
    opacity: 0.5;
}

.sidebar {
    display: flex;
    flex-direction: row;
    background-color: #0f0f0f;
    border-radius: 50px;
    width: 50%;
    margin-top: 1%;
    margin-left: 35px;
}

.sidebar1 {
    display: flex;
    flex-direction: row;
}
